/*FrederickatheGreat-Regular*/
/*@font-face{*/

    /*font-family: 'FrederickatheGreat-Regular';*/

    /*src: url('../fonts/FrederickatheGreat-Regular.eot');*/

    /*src: url('../fonts/FrederickatheGreat-Regular.eot?iefix') format('eot'),*/

    /*url('../fonts/FrederickatheGreat-Regulart.woff') format('woff'),*/

    /*url('../fonts/FrederickatheGreat-Regular.ttf') format('truetype'),*/

    /*url('../fonts/FrederickatheGreat-Regular.svg#webfont') format('svg');*/

    /*font-weight: normal;*/

    /*font-style: normal;*/

/*}*/


.title-header{
    font-family: 'FrederickatheGreat-Regular';
    font-size: 24px;
    margin-top: 76px;
}

h2{
    font-family: 'GloriaHallelujah-Regular';
    font-size: 30px;
}


.container {
    position: relative;
    max-width: 1440px;
    padding-left: 100px;
    padding-right: 100px;
    margin: 0 auto;
    background: #ff7ea8;
}

.bl {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 183px;
    left: 612px;
    transform: translate(50%, 10px);
    text-align: center;

}

.video-hero {
    width: 100%;
    margin: 0 auto;
}

.video-2{
    width: 100%;

}

/* Fly Figure*/
.figura {
    width: 0;
    position: absolute;
    left: 0px;
    bottom: 25px;
    border-bottom: 181px solid #0b0b17;
    border-top: 0px solid transparent;
    border-right: 100px solid transparent;
    border-left: 100px solid transparent;
    z-index: -1;
}

.figura:before {
    content: "";
    position: relative;
    left: -87px;
    top: 15px;
    border-bottom: 162px solid #fff042;
    border-top: 0px solid transparent;
    border-right: 88px solid transparent;
    border-left: 88px solid transparent;
    z-index: -1;
}

.figure-1 {
    width: 235px;
    height: 235px;
    position: absolute;
    left: 180px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 2px dashed #01070e;

}

.figure-1:after {
    content: '';
    width: 120px;
    height: 120px;
    position: absolute;
    top: 13px;
    right: 14px;
    border-radius: 50%;
    background: #0b213a;
    border: 2px dashed #0b213a;
}

.figure-2 {
    position: absolute;
    right: 100px;
    bottom: 0;
}

.figure-2 > .img1{
    position: absolute;
    right: 190px;
}

.figure-2 > .img2{

}

/*Figure 3 kub*/

.figure-3 {
    position: absolute;
    left: 244px;
    top: 11rem;
   
}

.img-1{
    position: absolute;
    top: 150px;

}
.img-2{

    position: absolute;
    top: 201px;
    left: 9px;
    transform: rotate(16deg);
}
.img-6{

    position: absolute;
    top: 325px;
    left: 117px;
    transform: rotate(8deg);
}
.img-4{

    position: absolute;
    top: 97px;
    left: 144px;
    transform: rotate(17deg);
}
.img-5{

    position: absolute;
    top: 222px;
    left: 251px;
    transform: rotate(-1deg);
}
.img-7{
    position: absolute;
    left: 53px;
    top: 216px;
}
.img-8{

    position: absolute;
    top: 102px;
    left: 173px;
    transform: rotate(2deg);
}
.img-9{

    position: absolute;
    left: 46px;
    top: 98px;
    transform: rotate(4deg);
}
.img-10{

    position: absolute;
    top: 226px;
    left: 133px;
}
