@media (min-width: 320px){
    .container{
       background: #fff042;
    }
}

@media (min-width: 600px){
    .container{
        background: #255282;
    }
}

@media (min-width: 900px){
    .container{
        background: #ef18a7;
    }
}


@media (min-width: 1200px){
    .container{
        background: #5da8ef;
    }
}
